@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200;300;400;500;600;700;800&display=swap");

body,
h1,
h2,
h3,
h4,
h5,
ul {
  margin: 0px 0px;
  padding: 0px 0px;
}

:root {
  font-size: 16px;
  line-height: 1.5;
}

body {
  font-family: "Mukta Malar", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-text {
  color: currentColor;
  text-decoration: none;
  font-size: 24px;
  font-weight: 900;
}

.header-wrapper {
  width: 100%;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
}

.main-header {
  padding: 0px 24px;
  min-height: 40px;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#menu-items {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#menu-items li {
  width: max-content;
  padding: 0px 8px;
  margin: 0px 8px;
}

#menu-items li:hover {
  background-color: #93ceff;
}

#menu-items li a {
  text-decoration: none;
  color: currentColor;
}

#menu-icon {
  display: none;
}

.content-section {
  margin: 16px 24px 32px 24px;
  max-width: 1200px;
}

.cards {
  display: flex;
  padding: 24px 0px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  margin: 8px 8px;
  width: 222px;
  display: flex;
  flex-direction: column;
  border: 1px solid #a7a7a7;
}

.card-title {
  font-weight: 700;
  padding: 4px 8px 0px 8px;
  margin: 0px 0px;
}

.card-author {
  font-size: 0.8rem;
  padding: 0px 8px 4px 8px;
  margin: 0px 0px;
  color: #a7a7a7;
}

.card-link {
  color: currentColor;
  text-decoration: none;
}

.single-title {
  font-size: 2rem;
  font-weight: 800;
}

.single-meta {
  font-size: 0.8rem;
  font-weight: 800;
  color: #3b3b3b;
  margin: 0px 0px;
}

.footer-wrapper {
  width: 100%;
  background-color: #252525;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-footer {
  width: 100%;
  background-color: #000;
  padding: 8px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-note {
  font-size: 14px;
}

.footer-note a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.footer-note a:hover {
  color: #93ceff;
}

.rights-info {
  font-weight: 300;
  font-size: 12px;
  margin: 0px 0px;
}

.footer-menu-section{
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px 0px;
  padding: 0px 0px;
}

.footer-logo{
  width: 300px;
  margin: 24px 0px;
}

.footer-logo p{
  padding: 0px 12px;
  font-weight: 800;
}

.footer-menu{
  width: 300px;
  margin: 24px 0px;
  padding: 0px 12px;
  list-style: none;
}

.footer-menu li a{
  text-decoration: none;
  color: #fff;
  font-weight: 12px;
}

@media only screen and (max-width: 768px) {
  .main-header {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px;
  }

  #menu-items {
    display: none;
    flex-direction: column;
  }

  .menu-item {
    margin: 8px;
  }

  #menu-icon {
    display: flex;
    padding: 8px 8px;
  }

  #menu-icon:hover {
    background-color: #93ceff;
  }
}
